<h3>Add Bookmark</h3>

<div class="bookmark-add-container">
  <form [formGroup]="bookmarkForm" class="form-inline mb-4" name="myForm">
    <mat-form-field appearance="standard" required>
      <mat-label>Name *</mat-label>
      <input matInput formControlName="name" name="name" placeholder="Name" />
      <mat-error *ngIf="bookmarkForm.controls['name'].errors?.required"
        >Mandatory Field</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="standard" required>
      <mat-label>Url *</mat-label>
      <input matInput formControlName="url" placeholder="Url" />
      <mat-error *ngIf="bookmarkForm.controls['url'].errors?.pattern"
        >Needs to start with http:// or https://</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="standard" required>
      <mat-select formControlName="group" placeholder="Work *">
        <mat-option value="Work">Work</mat-option>
        <mat-option value="Leisure">Leisure</mat-option>
        <mat-option value="Personal">Personal</mat-option>
      </mat-select>
      <mat-error>Mandatory</mat-error>
    </mat-form-field>
    <button
      mat-stroked-button
      (click)="createBookmark()"
      [disabled]="bookmarkForm.invalid"
      color="primary"
    >
      Add Bookmark
    </button>
  </form>
</div>
